<%= form_for currency_kind do |f| %>
  <div class="form-group <%= 'has-error' if currency_kind.errors['name'].present? %>">
    <%= f.label :name do %>
      <%= t(:name) %></span>
    <% end %>
    <%= f.text_field :name, class: 'form-control' %>
    <% if currency_kind.errors[:name].present? %>
      <span class="help-block text-danger">
        <small><%= currency_kind.errors[:name].first %></small>
      </span>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-10 m-t-15">
      <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm' %>
      <%= link_to "Cancelar", currency_kinds_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
    </div>
  </div>  
<% end %>
