<!-- Begin Page Content -->
<!-- Start Info_hidden -->
<%= info_hidden(monthly_expenses_url: incomes_path) %>
<!-- End Info_hidden -->
<div class="container-fluid">
  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Receitas (<%= Current.year %>)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= number_to_euro(Income.result_by_year(current_user))%></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Despesas (<%= Current.year %>)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= number_to_euro(Expense.result_by_year(current_user)) %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <div id="results_total" data-url="<%= highcharts_results_total_path %>"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Balanço</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner bank_slides">
              <div class="item bank_info active pt-5">
                <div class="container">
                  <h2 class="text-center">Millenium</h2>
                  <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p class="lead text-center">5050</p>
                </div>
              </div>
              <div class="item bank_info pt-5">
                <div class="container">
                  <h2 class="text-center">Novo Banco</h2>
                  <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p class="lead text-center">102</p>
                </div>
              </div>
              <div class="item bank_info pt-5">
                <div class="container">
                  <h2 class="text-center">Banco Brasil</h2>
                  <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <p class="lead text-center">1000</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Balanço Contas</h6>
        </div>
        <div class="card-body">
          <% @payment_installments.each do |p| %>
            <h4 class="small font-weight-bold"><%= p.name %> <span class="float-right"><%= p.percentage_calculate(p.total_value, p.amount_already_paid).round(2) * 100 %>%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-info" role="progressbar" style="width: <%= p.percentage_calculate(p.total_value, p.amount_already_paid).round(2) * 100 %>%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Contas Principais</h6>
        </div>
        <div class="card-body">
        <% @primary_expenses.each do |expense| %>
          <div class="col-lg-6 mb-2">
            <div class="card text-white shadow" style="<%= show_expense(expense) %>">
              <div class="card-body">
                <div class="row col-md-12">
                  <i class="<%= expense.icon %> fa-4x text-center col-md-4"></i>
                  <div class="my-auto col-md-4"><%= expense.name %></div>
                  <%= link_to expense_button(expense), class: "btn btn-outline-light btn-sm col-md-4" do %>
                      <%= expense_value(expense) %><br>
                      <i class="fas fa-external-link-square-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->