<% if user_signed_in? %>
 <!-- Start Info_hidden -->
<%= info_hidden(monthly_expenses_url: incomes_path) %>
<!-- End Info_hidden -->

<div class="col-md-12 pt-4">
  <ul class="nav nav-tabs row_chart m-l-15 m-t-80">
    <li class="active"><a data-toggle="tab" href="#home">Análise Anual - <%= Current.year %></a></li>
    <li class=""><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="row m-t-20">
          <div class="col-lg-3 col-sm-6">
            <div class="widget-inline-box text-center">
              <h4>
                <span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true" style="font-size:20px;color:rgb(5, 93, 0);"></span> 
                <b data-plugin="counterup">
                  <%= Income.where(annual_management: AnnualManagement.where(year: Current.year)).sum('income_value') %>
                </b>
              </h4>
              <h5 class="text-muted">Total Receitas</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="widget-inline-box text-center">
              <h4>
                <span class="glyphicon glyphicon-adjust" aria-hidden="true" style="font-size:20px;color:rgb(171, 0, 0);"></span> 
                <b data-plugin="counterup">
                  <%= Expense.where(annual_management: AnnualManagement.where(year: Current.year)).includes(:expense_groups).sum('expense_value') %>
                </b>
              </h4>
              <h5 class="text-muted">Total Despesas</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="widget-inline-box text-center">
              <h4><span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size:20px;color:yellow;"></span> <b data-plugin="counterup"><%= @user_groups.size %></b></h4>
              <h5 class="text-muted">Label 03</h5>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="widget-inline-box text-center b-0">
              <h4><span class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="font-size:20px;color:green;"></span> <b data-plugin="counterup"><%= @user_groups.size %></b></h4>
              <h5 class="text-muted">Label 04</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="">
              <div id="results_total" data-url="<%= highcharts_results_total_path %>"></div>
            </div>
          </div>
          <div class="col-4">
            <div class="list-group" id="list-tab">
              <a class="list-group-item">
                <h5>
                  <span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="font-size:20px;"></span> 
                  <b data-plugin="counterup">2.958,25</b>
                </h5>
                <span class="text-muted">Débito - Conta Bancária</span>
              </a>
              <a class="list-group-item" role="tab" aria-controls="home">
                <h5>
                  <span class="glyphicon glyphicon-credit-card" aria-hidden="true" style="font-size:20px;"></span> 
                  <b data-plugin="counterup">1500,00</b>
                </h5>
                <span class="text-muted">Crédito - Disponível</span>
              </a>
              <a class="list-group-item" role="tab" aria-controls="home">
                <h5>
                  <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true" style="font-size:20px;"></span> 
                  <b data-plugin="counterup">800,00</b>
                </h5>
                <span class="text-muted">Poupança</span>
              </a>
              <a class="list-group-item" role="tab" aria-controls="home">
                <h5>
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size:20px;"></span> 
                  <b data-plugin="counterup"><%= PaymentInstallment.sum('deposit_money') %></b>
                </h5>
                <span class="text-muted">Total Prestações mensal</span>
              </a>
            </div>
          </div>
        </div>
        <hr>
        <%= render partial: 'partial_analyzes' %>
      </div>
      <div id="menu1" class="tab-pane m-l-30">
        <h3>Menu 1</h3>
        <div class="row text-center">
        <div class="jumbotron" style="width: 500px;">
          <h1>Receita Mensal - <%= Income.where(annual_management: AnnualManagement.where(year: Current.year), month: Time.now.month).sum('income_value') %></h1>
          <h1>Despesas Mensais - <%= Expense.where(annual_management: AnnualManagement.where(year: Current.year), month: Time.now.month).includes(:expense_groups).sum('expense_value') %></h1>
          <table class="table table-striped">
            <tbody>
              <% if @expenses.present? %>
                <% @expenses.each do |expense| %>
                  <tr>
                  <th><%= expense.expense_category.name %> -> <%= expense.expense_value %></th>
                  <div class="operational-score" data-perspective="<%= expense.id %>">
                      ee<%= @expense
                      %>
                    </div>
                </tr>
                  <% end %>
                <% end %>
            </tbody>
          </table>
          <hr>
          <h3><h1>Balanço -> <%= Income.where(annual_management: AnnualManagement.where(year: Current.year), month: Time.now.month).sum('income_value') - Expense.where(annual_management: AnnualManagement.where(year: Current.year), month: Time.now.month).includes(:expense_groups).sum('expense_value') %></h1></h3>
      </div>
      </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
    </div>
  </div>
<% else %>
  <div class="container login_page">
    <div class="col-sm-offset-6 d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Entrar</h3>
        </div>
        <div class="card-body border border-black">
          <%= form_for :session, url: entrar_path, method: :post do |f| %>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
              </div>              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
                <%= f.password_field :password, placeholder: 'Palavra-passe', class: 'form-control' %>
              </div>
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox">Lembrar-me
            </div>
            <div class="form-group">
              <%= f.submit 'Entrar', class: 'btn float-right login_btn' %>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Não tem conta?<%= link_to 'Registe-se', new_user_path %>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Esqueceu a palavra-passe?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
        
        