
<%= form_for expense_category do |f| %>
  <div class="row">
    <div class="form-group col-sm-6 <%= 'has-error' if expense_category.errors['name'].present? %>">
      <%= f.label :expense_category do %>
        <%= t(:name) %></span>
      <% end %>
      <%= f.text_field :name, class: 'form-control' %>
      <% if expense_category.errors['name'].present? %>
        <span class="help-block text-danger">
          <small><%= expense_category.errors['name'].first %></small>
        </span>
      <% end %>
    </div>
    <div class="form-group col-md-6">
      <label>Utilizador</label>
      <%= f.collection_select :icon, ExpenseCategory::CATEGORY_KIND, :id, :first_name, { prompt: t(:select)}, class: 'form-control' %>
      
    </div>
    <select name="sample" id="sample" class="fa" style="width: 100px;">
        <option value="">----</option>
        <option style="heigth: 100px;" value="fa fa-address-card">&#xf2bb;</option>
        <option value="fa fa-bell">&#xf0f3;</option>
        <option value="fa fa-bookmark">&#xf02e;</option>
        <option value="fa fa-building">&#xf1ad;</option>
</select>
    <div class="form-group col-md-6 <%= 'has-error' if expense_category.errors['primary_payment'].present? %>">
      <%= f.label :primary_payment do %>
        <%= t(:primary_category) %>?
      <% end %>
      <div class="row p-l-r-30">
        <%= f.check_box :primary_payment %>
          <label></label>
        <% if expense_category.errors[:primary_payment].present? %>
          <span class="help-block text-danger">
            <small><%= expense_category.errors[:primary_payment].first %></small>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 m-t-15">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      <%= link_to "Cancelar", expense_categories_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
    </div>
  </div>  
<% end %>



  
