<!-- Start Breadcrumb -->
<% @current_bread_name = t('expense_categories.expense_categories') %>
<!-- End Breadcrumb -->

<div class="row row_frameh">
  <div class="offset-1 col-lg-10">
    <div class="panel panel-border">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel-heading">
            <h1 class="panel-title text-center">Categorias das Despesas</h1>
              <div class="btn-group pull-right">
                <%= link_to new_expense_category_path, class: 'btn btn-success btn-sm waves-effect waves-light' do %>
                  <i class="m-l-5 fa fa-plus"></i>
                  <%= t('expense_categories.new') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-body">
              <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive">
                <table id="datatable" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th class="text-right">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% unless @expense_categories.present? %>
                      <tr>
                        <td colspan="4" class="text-center">
                          <h3>Sem Categorias cadastradas.</h3>
                          <%= link_to 'click aqui', new_expense_category_path %> para cadastrar uma nova categoria
                        </td>
                      </tr>
                    <% end %>
                    <% @expense_categories.each do |expense_category| %>
                      <tr>
                        <td>
                          <%= expense_category.id %>
                        </td>
                        <td>
                          <%= expense_category.name %>
                        </td>
                        <td class="text-right">
                          <%= link_to expense_category_path(expense_category) do %>
                            <i class="fas fa-eye"></i>
                          <% end %>
                          <%= link_to edit_expense_category_path(expense_category) do %>
                            <i class="fas fa-edit"></i>
                          <% end %>
                          <%= link_to expense_category_path(expense_category), method: :delete, data: { confirm: t(:remove_question)} do %>
                            <i class="fas fa-trash-alt"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div>
                  <%= will_paginate @expense_categories, :previous_label => 'Previous', class: "paginate", :next_label => 'Next' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  