<div class="row mb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Contrato: <%= @contract.name %></h4>
      </div>
    </div>
  </div>
</div>
 <div class="row px-5">
  <div class="col-lg-12">
    <div class="panel-body px-5">
      <div class="container pt-4">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nome:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Número::</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.number %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Descrição:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.description %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Data de Inicio:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.start_date %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Data de Fim</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.end_date %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Estado:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.contract_status&.name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Utilizador:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.user_group&.name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Empresa:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @contract.company.name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Contrato de trabalho:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= t @contract.job %></p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9 m-t-15">
              <%= link_to "Sair", contracts_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>










