<%= form_for @article do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: "10" %>
  </div>

  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  <%= link_to "Cancelar", articles_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
<% end %>
