<!-- Campos de preenchimento do formulario -->
<%= form_for @user_group do |f| %>
<%= render 'layouts/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :first_name do %>
      <%= t(:first_name) %></span>
    <% end %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name do %>
      <%= t(:last_name) %></span>
    <% end %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image do %>
      <%= t(:image) %></span>
    <% end %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :genre do %>
      <%= t('genre') %></span>
    <% end %>
    <%= f.select :genre, nil, { include_blank: true}, class: 'form-control' do %>
      <%= options_for_select UserGroup::GENRES.map { |desc, index| [t(desc), index] }, @user_group.genre %>
    <% end %>
  </div>  

  <div class="form-group">
    <%= f.label :birth_date do %>
      <%= t(:birth_date) %></span>
    <% end %>
    <%= f.date_field :birth_date, class: 'form-control', id: 'date' %>
  </div>

  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  <%= link_to "Cancelar", user_groups_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>

<% end %>

  


