<!-- Start Breadcrumb -->
<% @current_bread_name = t('incomes.incomes') %>
<!-- End Breadcrumb -->

<div class="row row_frameh">
    <div class="offset-1 col-lg-10">
        <div class="panel panel-border">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-heading">
                        <h1 class="panel-title text-center">Utilizadores</h1>
                        <div class="btn-group pull-right">
                            <%= link_to 'Novo utilizador', new_user_group_path, class: 'btn btn-success' %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive">
                            <table id="datatable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Primeiro Nome</th>
                                        <th>Ultimo Nome</th>
                                        <th>Data de Nascimento</th>
                                        <th>Gênero</th>
                                        <th class="text-right">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% unless @user_groups.present? %>
                                        <tr>
                                            <td colspan="4" class="text-center">
                                            <h3>Sem Utilizadores cadastrados.</h3>
                                        </tr>
                                    <% end %>
                                    <% @user_groups.each do |user_group| %>
                                        <tr>
                                            <td>
                                                <%= user_group.id %>
                                            </td>
                                            <td>
                                                <%= user_group.first_name %>
                                            </td>
                                            <td>
                                                <%= user_group.last_name %>
                                            </td>
                                            <td>
                                                <%= user_group.birth_date %>
                                            </td>
                                            <td>
                                                <%= user_group.to_s %>
                                            </td>
                                            <td class="text-right">
                                                <%= link_to user_group_path(user_group) do %>
                                                    <i class="fas fa-eye"></i>
                                                <% end %>
                                                <%= link_to edit_user_group_path(user_group) do %>
                                                    <i class="fas fa-edit"></i>
                                                <% end %>
                                                <%= link_to user_group_path(user_group), method: :delete, data: { confirm: t(:remove_question)} do %>
                                                    <i class="fas fa-trash-alt"></i>
                                                <% end %>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <div>
                        <%= will_paginate @user_groups, :previous_label => 'Previous', class: "paginate", :next_label => 'Next' %>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

    