<div class="row row_frameh">
    <div class="offset-3 col-lg-9">
        <div class="panel panel-border">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Utilizadores</h3>
                    <div class="btn-group pull-right">
                        <%= link_to 'Novo utilizador', new_user_group_path, class: 'btn btn-success' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="panel-body">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive">
                <table id="datatable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Primeiro Nome</th>
                        <th>Ultimo Nome</th>
                        <th>Data de Nascimento</th>
                        <th>Gênero</th>
                        <th class="text-right">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                            <% if @user_groups.empty? %>
                            <tr>
                                <td colspan="4" class="text-center">
                                <h3>Sem Utilizadores cadastrados.</h3>
                            </tr>
                        <% end %>
                        <% @user_groups.each do |c| %>
                        <tr>
                        <td>
                            <%= c.id %>
                        </td>
                        <td>
                            <%= c.first_name %>
                        </td>
                        <td>
                            <%= c.last_name %>
                        </td>
                        <td>
                            <%= c.birth_date %>
                        </td>
                        <td>
                            <%= c.to_s %>
                        </td>
                        <td class="text-right">
                            <%= link_to 'Editar', edit_user_group_path(c), class: 'btn btn-warning' %>
                            <%= link_to 'Excluir', user_group_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
                        </td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
                <div>
                    <%= will_paginate @user_groups, :previous_label => 'Previous', class: "paginate", :next_label => 'Next' %>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
    