<!-- Start Breadcrumb -->
<% @current_bread_name = t('imports.imports') %>
<!-- End Breadcrumb -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-border">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel-heading">
            <h3 class="panel-title pull-left"><%= t('imports.imports') %></h3>
              <div class="btn-group pull-right m-t-5">
                <%= link_to new_import_path, class: 'btn btn-default btn-sm waves-effect waves-light' do %>
                  <%= t(:add) %>
                  <i class="m-l-5 fa fa-plus"></i>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 table-responsive">
                <table id="imports-datatable" class="table table-hover" data-url="<%= imports_path %>">
                  <thead>
                    <tr>
                      <th><%= t(:kind) %></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
