<!-- Start Breadcrumb -->
<% @bread_links = [link_to(t('incomes.incomes'), incomes_path)] %>
<% @current_bread_name = @income.income_category.name %>
<!-- End Breadcrumb -->
<div class="row row_index">
  <div class="offset-2 col-xs-9">
    <div class="panel-heading">
      <h1 class="panel-title text-center">Receita</h1>
    </div>
    <div class="panel-body">
      <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label"><%= t(:user) %></label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @income.user_group.first_name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Ano:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @income.annual_management.year %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Mês:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= t('date.month_names')[@income.month] %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Tipo:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= @income.income_category.name %></p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Valor:</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= number_to_currency(@income.income_value) %></p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9 m-t-15">
                <%= link_to "Sair", incomes_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

