<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Meus Contactos</h1><%= link_to 'Novo Contacto', new_contact_path, class: 'btn btn-success' %>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>

        </tr>
      </thead>
      <tbody>
        <% if @contacts.empty? %>
          <tr>
            <td colspan="4" class="text-center">
              <h3>Sem contactos cadastrados.</h3>
              <%= link_to 'click aqui', new_contact_path %> para cadastrar um novo contacto
            </td>
          </tr>
        <% end %>
        <% @contacts.each do |c| %>
        <tr>
          <td>
            <%= c.name %>
          </td>
          <td>
            <%= c.phone %>
          </td>
          <td class="text-right">
            <%= link_to 'Editar', edit_contact_path(c), class: 'btn btn-warning' %>
            <%= link_to 'Excluir', contact_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
