
<%= form_for income_category do |f| %>
  <div class="form-group <%= 'has-error' if income_category.errors['name'].present? %>">
    <%= f.label :income_category do %>
      <%= t(:name) %></span>
    <% end %>
    <%= f.text_field :name, class: 'form-control' %>
    <% if income_category.errors['name'].present? %>
      <span class="help-block text-danger">
        <small><%= income_category.errors['name'].first %></small>
      </span>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-10 m-t-15">
      <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm' %>
      <%= link_to "Cancelar", income_categories_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>
    </div>
  </div>  
<% end %>



  
