<%= form_for @annual_management do |f| %>
<%= render 'layouts/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :year do %>
      <%= t(:year) %></span>
    <% end %>
    <%= f.text_field :year, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description do %>
      <%= t(:description) %></span>
    <% end %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  <%= link_to "Cancelar", annual_managements_path, class: "btn btn-white btn-sm waves-effect m-l-5" %>

<% end %>
