<div class="select_row">
<div class="form-group compete_fields">
    <div class="col-sm-6">
        <%= f.collection_select :expense_category_id, ExpenseCategory.all, :id, :name, { prompt: t('groups.select') }, class: 'form-control select2' %>
            <% if f.object.errors[:group].present? %>
                <span class="help-block text-danger">
                    <small><%= f.object.errors[:group_id].first %></small>
                </span>
            <% end %>
    </div>
    <div class="col-sm-5">
        <%= f.text_field :expense_value, class: 'form-control' %>
    </div>
    <div class="col-sm-1">
      <%= link_to '#', class: 'delete_compete', data: { confirm: t(:remove_question) } do %>
        <i class="fa fa-times"></i>
        <%= f.hidden_field :_destroy %>
      <% end %>
    </div>
</div>
</div>
  