<!-- Start Breadcrumb -->
<% @current_bread_name = t('expenses.expenses') %>
<!-- End Breadcrumb -->
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12">
      <h1 class="panel-title text-center">Despesas</h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel-body">
          <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive">
            <table id="expenses_table" class="table table-hover" data-url="<%= datatables_expenses_path %>">
              <div class="btn-group pull-left">
                <%= link_to new_expense_path, class: 'btn btn-success btn-sm waves-effect waves-light' do %>
                  <i class="m-l-5 fa fa-plus"></i>
                  <%= t('expenses.new') %>
                <% end %>
              </div>
              <div class="btn-group pull-left">
                <%= form_tag import_expenses_path, multipart: true do %>
                  <%= file_field_tag :file, class: 'btn btn-outline-success m-l-5' %>
                  <%= submit_tag 'Upload', class: 'btn btn-success btn-sm waves-effect waves-light' %>
                <% end %>
              </div>
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Ano</th>
                  <th>Mês</th>
                  <th>Ações</th>
                </tr>
              </thead>
            </table>
          <div>
        </div>
      </div>
    </div>
  </div>
</div>
