<div id="month_selector" class="btn-group m-b-5" data-month="<%= month %>">
    <button type="button" class="btn btn-light btn-xxs previous-button" <%= 'disabled' if month == 1 %> ><i class="fa fa-angle-left"></i></button>
    <div class="btn-group">
        <button type="button" class="btn btn-light align_buttons dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <span class="month-name"><%= t('date.month_names')[month] %></span>
        </button>
        <ul class="dropdown-menu drop-menu-right" role="menu">
        <% (1..12).each do |month_item| %>
            <li><a href="#" class="month-item-picker" data-month-item="<%= month_item %>"><%= t('date.month_names')[month_item] %></a></li>
        <% end %>
        </ul>
    </div>
    <button type="button" class="btn btn-light btn-xxs next-button" <%= 'disabled' if month == 12 %> ><i class="fa fa-angle-right"></i></button>
</div>
    