<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
</head>

<div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">
                <%= link_to dashboard_path do %>
                    <span>Frameh</span>
                <% end %>
              </a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <%= image_tag( current_user&.image, class: "img-thumbnail rotateSide" ) if current_user&.image.attached?  %>
              </div>
              <div class="user-info">
                <span class="user-name">
                    <%= current_user.name %>
                </span>
                <% if current_user.admin == true %>
                    <span class="user-role">Administrator</span>
                <% end %>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                    <span class="badge badge-pill badge-warning">New</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Dashboard 1
                          <span class="badge badge-pill badge-success">Pro</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">Dashboard 2</a>
                      </li>
                      <li>
                        <a href="#">Dashboard 3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span>E-commerce</span>
                    <span class="badge badge-pill badge-danger">3</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a href="#">Products
      
                        </a>
                      </li>
                      <li>
                        <a href="#">Orders</a>
                      </li>
                      <li>
                        <a href="#">Credit cart</a>
                      </li>
                    </ul>
                  </div>
                </li>
                
                    <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <span>Utilizadores</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                          <li>
                              <%= link_to 'Utilizadores', user_groups_path %>
                          </li>
                          <li>
                              <%= link_to 'Editar Trabalho', work_groups_static_path %>
                          </li>
                          <% if current_user.admin == true %>
                            <li>
                              <%= link_to 'Contas', users_path %>
                            </li>
                          <% end %>
                      </ul>
                    </div>                  
                  </li>
                <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-briefcase"></i>
                    <span>Trabalho</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                          <%= link_to 'Empresas', works_path %>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                        <a href="#">
                                <i class="fas fa-archive"></i>
                          <span>Registos</span>
                        </a>
                        <div class="sidebar-submenu">
                          <ul>
                                <li>
                                    <%= link_to 'Contactos', contacts_path %>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <%= link_to 'Artigos', articles_path %>
                                </li>
                                <li>
                                    <%= link_to 'Gestão Anual', annual_managements_path %>
                                </li>
                          </ul>
                        </div>
                      </li>
                <li class="header-menu">
                  <span>Extra</span>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Documentation</span>
                    <span class="badge badge-pill badge-primary">Beta</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Examples</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <a href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <%= link_to edit_user_path(current_user) do %>
                    <i class="fa fa-cog"></i>
                <% end %>
            </a>
            <a href="#">
                <%= link_to sair_path, method: :delete, data: { confirm: t(:remove_question)} do %>
                    <i class="fa fa-power-off"></i>
                <% end %>
            </a>
          </div>
        </nav> 
</div>
      
          